* {box-sizing: border-box;}
.product-item {
  max-width: 960px;
  
  text-align: center;
  margin: 0 auto;
  border: 1px solid #F5F5F5;
  background: white;
  font-family: "Open Sans";
  
  float: left;
}
.product-item:hover {border-bottom: 2px solid #fc5a5a;}
.product-item img {
  display: block;
  width: 100%;
}
.product-list {
    background: #fafafa;
    padding: 15px 0;
    margin: 20px;
}
.product-list h3 {
font-family: 'Roboto',Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 10px 0;
}
.price {
  font-size: 16px;
  color: #fc5a5a;
  display: block;
  margin-bottom: 12px;
}
